.custom-swal-popup {
    width: 500px; /* Customize Width */
    border-radius: 20px; 
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }  
.custom-progress-bar {
    background: #28a745 !important; /* Green color */
}

.modal-container {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .modal-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .modal-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
  
  .modal-input:focus {
    border: 1px solid #6c63ff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .switch input:checked + .slider {
    background-color: #6c63ff;
  }
  
  .modal-price-details {
    margin-top: 16px;
    font-size: 16px;
  }
  