.reset-body{
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: url('../assets/userF.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /* height: 110vh; */
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reset-pass-container {
    max-width: 370px;
    width: 90%;
    /* margin-top: 80px;
    margin-left: 410px; */
    margin: auto;
    /*height: auto; */
    background-color:rgba(197, 225, 165,0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reset-pass-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: 30px;
}

.reset-form-group {
    margin-bottom: 20px; /* Increased margin between form groups */
}

.reset-form-group label {
    font-size: 18px;
    color: #9c27b0;
    font-weight: bold;
    display: block; /* Makes the label appear on its own line */
    margin-bottom: 8px; /* Adds space between label and input box */
}

.reset-form-group input {
    width: 90%;
    padding: 12px; /* Adds padding inside the input box */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff; /* White background for the input box */
    transition: border-color 0.3s ease; /* Smooth border transition */
}

.reset-form-group input:focus {
    border-color: #8e44ad; /* Change border color when input is focused */
    outline: none; /* Remove the default focus outline */
}

.reset-form-group  input[type="submit"] {
    width: 80%;
    padding: 12px;
    background-color: #8e44ad;
    color: white;
    border: none;
    margin-left: 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-form-group  input[type="submit"]:hover {
    background-color: #570a8a;
    transform: scale(1.05);
}


.reset-error{
    color: red;
    padding-top: 5px;
    font-size: 12px;
}
.reset-password-container {
    position: relative; /* To position the icon inside the input field */
}

.reset-show-pass-icon {
    position: absolute;
    right: 20px; /* Position the icon towards the right inside the input */
    top: 54%;
    transform: translateY(-50%); /* Center the icon vertically */
    font-size: 20px;
    cursor: pointer;
}