.profile-avatar {
  width: 55px;
  height: 55px;
  background-color: #6a0dad;
  /* background-color: #8a2be2;  */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none; /* Prevent text selection */
}
.profile-body{
    background-color: #dcedc8;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 160vh; /* Full screen height */
    justify-content: center;
    align-items: center;
}
.profile-container {
    width: 500px;
    /* width: 350px; */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* background: #fff; */
    background:  rgba(255, 255, 255, 0.6); ;
  }
  
  .profile-head {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color:rebeccapurple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .profile-field {
    margin-bottom: 15px;
  }
  
  .profile-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-field input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-field input:focus {
    border-color: #8e44ad;;
    outline: none;
    box-shadow: 0 0 5px #8e44ad;
  }
  .edit-btn, .save-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: white;
  }
  
  .save-btn {
    background-color: #28a745;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  
  .save-btn:hover {
    background-color: #218838;
  }
  
/* Style for select dropdown */
.profile-field select {
  width: 93%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

/* Focus effect */
.profile-field select:focus {
  border-color: #8e44ad;;
  outline: none;
  box-shadow: 0 0 5px #8e44ad;
}
