.user-body{
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: url('../assets/userF.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-height: 110vh;
}

.user-container {
    max-width: 380px;
    margin-top: 50px;
    margin-left: 410px;
    height: auto;
    /* background-color: #dcedc8; */
    background-color: rgba(197, 225, 165,0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-form-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: 30px;
}

.user-form-group {
    margin-bottom: 24px; /* Increased margin between form groups */
}

.user-form-group label {
    font-size: 18px;
    color: #9c27b0;
    font-weight: bold;
    display: block; /* Makes the label appear on its own line */
    margin-bottom: 8px; /* Adds space between label and input box */
}

.user-form-group input{
    width: 92%;
    padding: 12px; /* Adds padding inside the input box */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff; /* White background for the input box */
    transition: border-color 0.3s ease; /* Smooth border transition */
}

.user-form-group select {
    width: 98%;
    padding: 12px; /* Adds padding inside the input box */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff; /* White background for the input box */
    transition: border-color 0.3s ease; /* Smooth border transition */
} 

select:focus {
    border-color: #8e44ad;
    outline: none;
    box-shadow: 0 0 5px rgba(142, 68, 173, 0.5);
}


.user-form-group input:focus {
    border-color: #8e44ad; /* Change border color when input is focused */
    outline: none; /* Remove the default focus outline */
}

.user-form-group input[type="submit"] {
    width: 80%;
    padding: 12px;
    background-color: #8e44ad;
    color: white;
    border: none;
    margin-left: 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-form-group input[type="submit"]:hover {
    background-color: #570a8a;
    transform: scale(1.05);
}
.user-form-check{
    display: inline-block;
    align-items: center;
    gap: 10px;
}
.user-form-check input[type="checkbox"] {
   margin-right: 10px;
    transform: scale(1.4); 
}

.user-form-check label {
    font-size: 17px;
    color: black;
    font-weight:normal;
    margin-bottom: 10px; /* Adds space between label and input box */
}
.user-toggle-btn {
    text-align: center;
    margin-top: 10px;
}

.user-toggle-btn a {
    text-decoration: none;
    color: #4a148c;
    font-size: 18px;
}

.user-toggle-btn a:hover {
    text-decoration: underline;
}
.user-error{
    color: red;
    padding-top: 5px;
    font-size: 12px;
}
.user-password-container {
    position: relative; /* To position the icon inside the input field */
}

.user-show-pass-icon {
    position: absolute;
    right: 20px; /* Position the icon towards the right inside the input */
    top: 54%;
    transform: translateY(-50%); /* Center the icon vertically */
    font-size: 20px;
    cursor: pointer;
}

#password:focus {
    border-color: #8e44ad;
    outline: none;
}

@media (min-width:601px) and (max-width:1000px){
    .user-body{
        background-image: url('../assets/user3.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .user-container{
        max-width: 330px;
        min-width: 250px;
        margin: auto;
        transform: scale(0.9); /* This will zoom in the container by 20% */
        transform-origin: center; /* Ensures the zoom effect occurs from the center */
        width: 70%;
        background-color:rgba(197, 225, 165,0.8);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width:600px){               /*Smaller device : Mobile */
    .user-body{
        background-image: url('../assets/user21.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-container{
        max-width: 300px;
        width: 90%;
        margin-top: 80px;
        margin-left:  50px;
        margin-right: 50px;
        height: auto;
        background-color:rgba(197, 225, 165,0.8);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .user-show-pass-icon {
        position: absolute;
        right: 3px; /* Position the icon towards the right inside the input */
        top: 54%;
        transform: translateY(-50%); /* Center the icon vertically */
        font-size: 20px;
        cursor: pointer;
    }
}